<div class="page page-table" ng-controller="ContactController" data-ng-init="getContact()">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Home > Contact >{{categorie}}</strong></div>
        <h1>{{categorie}}</h1>
        <!-- <div class="table-filters panel-heading">
            <div class="panel-body" data-ng-controller="TabsDemoCtrl">
          <tabset class="ui-tab">
                        <tab heading="Static title"></tab>
                        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                            {{tab.content}}
                        </tab>
                    </tabset>
                  </div>
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               >
                    </form>
                </div>
                 <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </div>
 -->


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="myTab">
    <li class="active" id="home"><a ng-click="showList()">Home</a></li>
    <li role="presentation" id="tab{{$index}}" ng-repeat="tab in tabs track by $index">
      <a ng-click="showtab($index)">{{tab.title}} <i class="fa  fa-close" style="cursor:pointer" ng-click="discardContact($index)"></i></a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div ng-show="!isEditForm" id="home">
    <div ng-show="getcontactdata.data.length == 0">
      <h1 style="text-align:center">No Records !</h1>
    </div>
      <table class="table table-bordered table-striped table-responsive" ng-show="getcontactdata.data.length > 0">
            <thead>
                <tr>
                    <th><div class="th">Name</div></th>
                    <th><div class="th">Company</div></th>
                    <th><div class="th">Phone</div></th>
                    <th><div class="th">Email</div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="contact in getcontactdata.data track by $index | filter : searchKeywords">
                    <td> <a href="javascript:;" ng-click="createNewTab(contact)">{{contact.name.firstname}} {{contact.name.middlename}} {{contact.name.lastname}} </a></td>
                    
                    <td>{{contact.company.companyname}}</td>
                    <td><span ng-repeat="phone in contact.phones track by $index"> Cellphone: {{phone.cellphone}}, Homephone: {{phone.homephone}}</span></td>
                    <td><span ng-repeat="email in contact.emails track by $index"> {{email}}, </span></td>
                </tr>
            </tbody>
        </table>

    </div>
    
    <div id="edit-form" ng-show="isEditForm">
      <div class="page">
         <section class="panel panel-default">
              <div class="panel-body"> <!-- white color body start from hear -->
                <div class="block-1" data-ng-controller="ModalDemoCtrl"> <!--grey body start from hear -->
                  <div class="form-group">
                    <form ng-submit="updateContact(contact_form, editFormIndex)" name="contact_form" novalidate>
                      <!--button start from hear -->
                       <div class="butn-box-content">                         
                          <div class="butn-box">
                           <button class="btn btnn-top btn-primary" type="button" ng-click="deleteContact(editFormIndex)">Delete Contact</button>
                          <button class="btn btnn-top btn-primary" type="reset" ng-click="discardContact(editFormIndex)">Discard</button>
                          <button class="btn btnn-top btn-primary" type="submit">Save</button>
                          </div>
                        </div>
                        <!--button close from hear -->
                        <!--pic section start from hear -->
                        <div class="row form-box">
                         <div class="col-md-2 left-mst">
                            <div class="left-mst-box">
                               <img class="prfl-pic" src="{{imageSrc?imageSrc:'/images/no-profile-image.jpg'}}" onclick="$('#selectImage').click();" alt="">
                            </div>
                            <div class="left-mst-box" ng-show="false">
                               <input type="file" ng-file-select id="selectImage">
                            </div>
                          </div>
                          <!-- pic section close from hear -->
                          <div class="col-md-5 colm-left"><!--colm-left-->
                          
                            <!--Name start from hear -->
                           <div class="form-group">
                             <div class="name-block">                       
                              <label for="">Name</label>
                              </div> 

                              <!--Name pop start from hear -->
                              <div class="panel-body name-popup"> 
                                <script type="text/ng-template" id="myModalContent.html">
                                  <div class="modal-header">
                                    <h3>Name</h3>
                                  </div>
                                  <div class="modal-body">
                                    <div class="form-group">
                                      <label for="">Prefix</label>
                                        <input type="text" class="form-control" ng-model="name.prefix"  placeholder="Name Prefix">
                                    </div>
                                    <div class="form-group">
                                      <label for="">First</label> 
                                        <input type="text" class="form-control" ng-model="name.firstname"  placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Middle</label>
                                      <input type="text" class="form-control" ng-model="name.middlename"placeholder="Middle Name">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Last</label>
                                      <input type="text" class="form-control" placeholder="Last Name " data-ng-model="name.lastname">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Suffix</label>
                                      <input type="text" class="form-control"  ng-model="name.suffix"  placeholder="Name Suffix ">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Initials</label>
                                      <input type="text" class="form-control"  ng-model="name.initial"  placeholder="Name Initials ">
                                    </div>
                                    <div class="form-group">
                                      <label for="">Short Name</label>
                                    <input type="text" class="form-control"  ng-model="name.sortname" placeholder="Short Name">
                                  </div>
                                  <div class="form-group">
                                    <label for="">Additinal Name</label>
                                    <input type="text" class="form-control" ng-model="name.additinalname"  placeholder="Additinal Name  ">
                                  </div>
                                  <div class="form-group">
                                    <label for="">Letter Salutation</label>
                                    <input type="text" class="form-control"  ng-model="name.lettersalutation" placeholder="Letter Salutation ">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary"  ng-click="ok()">Save</button>
                                  <button class="btn btn-warning" ng-click="cancelNameForm()">Cancel</button>
                                </div>
                              </script>
                              <p class="hash" ng-click="open('myModalContent.html')" style="cursor:pointer"></p> 
                              </div> 
                              <!--Name pop close from hear -->

                               <div class="row">
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" name="firstname" placeholder="First*" data-ng-trim='false'data-ng-model="name.firstname" required>
                                    <span class="help-block form-error" ng-show="contact_form.firstname.$error.required  && contact_form_submited">First Name Required.</span>
                                  </div>
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" name="lastname"   placeholder="Last*" data-ng-trim='false'data-ng-model="name.lastname" required>
                                    <span class="help-block form-error" ng-show="contact_form.lastname.$error.required  && contact_form_submited">Last Name Required.</span>
                                  </div>
                                </div>
                              </div>
                              <!--Name close from hear -->

                              <!-- Company start from hear -->
                          <div class="form-group">
                            <div class="name-block">                       
                              <label for="">Company</label>
                            </div> 

                            <!--company pop start from hear -->
                            <div class="panel-body name-popup"> 
                            <script type="text/ng-template" id="myModalContent1.html">
                              <div class="modal-header">
                                <h3>Company</h3>
                              </div>
                              <div class="modal-body">
                                <div class="form-group">
                                  <label for="">Company Name</label>
                                  <input type="text" class="form-control" ng-model="company.companyname"  placeholder="Company Name"
                                 </div>
                                <div class="form-group">
                                  <label for="">DBA</label> 
                                  <input type="text" class="form-control" ng-model="company.dbaname"  placeholder="DBA Name">
                                </div>
                                <div class="form-group">
                                  <label for="">NamePhonetic Company NamePhonetic</label>
                                  <input type="text" class="form-control" ng-model="company.namephonetic"  placeholder="NamePhonetic Company NamePhonetic">
                                </div>
                                <div class="form-group">
                                  <label for="">Tax Id</label>
                                  <input type="text" class="form-control" placeholder="Tax Id " ng-model="company.taxid">
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"  ng-click="ok()">Save</button>
                                <button class="btn btn-warning" ng-click="cancleCompanyForm()">Cancel</button>
                              </div>
                            </script>
                            <p class="hash" ng-click="open('myModalContent1.html')" style="cursor:pointer">
                            </div> 
                            <!-- company pop close from hear -->


                              <input type="text" class="form-control" name="companyname" ng-model="company.companyname" placeholder="Company*" required>
                              <span class="help-block form-error" ng-show="contact_form.companyname.$error.required  && contact_form_submited">Company Last Name Required.</span>
                            </div>
                            <!--company close from hear -->
                             <!--Address start from hear -->
                            <div ng-repeat = "address in addreses track by $index">
                             <div class="form-group">
                              <div class="name-block">
                                <label for="exampleInputEmail1">Address <i ng-if="$index>0" class="fa  fa-close" ng-click="removeAddress($index)"></i></label>
                              </div>
          <!--Address pop start from hear -->

                                <div class="panel-body name-popup"> 
                                  <script type="text/ng-template" id="myModalContent2.html">
                                    <div class="modal-header">
                                      <h3>Address</h3>
                                    </div>  
                                    <div class="modal-body">
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Type</label>
                                        <select class="form-control" data-ng-model="addresspop.addresstype">
                                          <option value="business">Business/Home</option>
                                          <option value="2">2</option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <dl class="dl-horizontal">
                                          <dd>
                                            <label class="ui-checkbox">
                                              <input name="checkbox1" type="checkbox" data-ng-model="addresspop.mailing" value="Mailing">
                                              <span>Mailing</span></label>
                                            <label class="ui-checkbox">
                                              <input name="checkbox1" type="checkbox" data-ng-model="addresspop.billing" value="billing" checked>
                                              <span>Billing</span></label>
                                            <label class="ui-checkbox">
                                              <input name="checkbox1" type="checkbox" data-ng-model="addresspop.poboxno" value="pobox">
                                              <span>P.O.Box</span></label>
                                          </dd>
                                        </dl>
                                      </div>
                                      <div class="form-group">
                                        <label for="">Street</label>
                                        <div class="row">
                                          <div class="col-md-3">
                                            <input  type="text" class="form-control" placeholder="Number" data-ng-model="addresspop.streetnumber">                        
                                            <span></span>
                                          </div>
                                          <div class="col-md-3">
                                            <input  type="text" class="form-control" placeholder="Name" data-ng-model="addresspop.streetname">                        
                                            <span></span>
                                          </div>
                                          <div class="col-md-6">
                                            <select class="form-control" data-ng-model="addresspop.streetsuffix">
                                              <option value="suffix">Suffix</option>
                                              <option value="2">2</option>
                                            </select>    
                                            <span></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="">Unit</label>
                                        <div class ="row">
                                          <div class = "col-md-6">
                                            <input  type="text" class="form-control" placeholder="Number" data-ng-model="addresspop.unitnumber">            
                                          </div>
                                          <div class ="col-md-6">
                                            <select class="form-control" data-ng-model="addresspop.unitdesignator">
                                              <option value="Designator">Designator</option>
                                              <option value="2" >2</option>
                                            </select>   
                                          <div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="">Building</label>
                                        <div class="row">
                                          <div class="col-md-6">
                                            <input  type="text" class="form-control" placeholder="Name or Number" data-ng-model="addresspop.buildingnumber">                        
                                            <span></span>
                                          </div>
                                          <div class="col-md-3">
                                            <input  type="text" class="form-control" placeholder="Door Code" data-ng-model="addresspop.buildingdoorcode" >                        
                                            <span></span>
                                          </div>
                                          <div class="col-md-3">
                                            <input  type="text" class="form-control" placeholder="Door Bell" data-ng-model="addresspop.buildingdoorbell" >                        
                                            <span></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">P.O.Box</label>
                                        <input type="text" class="form-control" data-ng-model="addresspop.pobox"  placeholder="P.O. Box">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Street Name AKA</label>
                                        <input type="text" class="form-control" data-ng-model="addresspop.streetnameaka"  placeholder="Street Name also knows as">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Intersecting Street1</label>
                                        <input type="text" class="form-control" data-ng-model="addresspop.Intersectingstreet1"  placeholder="Intersecting Street1">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Intersecting Street2</label>
                                        <input type="text" class="form-control" data-ng-model="addresspop.Intersectingstreet2"  placeholder="Intersecting Street2">
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputEmail1">Neighborhood</label>
                                        <input type="text" class="form-control" data-ng-model="addresspop.neighborhood"  placeholder="Neighborhood">
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary"  ng-click="ok()">Save</button>
                                      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                    </div>
                                  </script>
                                <p class="hash" ng-click="open('myModalContent2.html',$index,'addresstype')" style="cursor:pointer"></p>
                              </div> 
                              </div>
        <!--Address pop close from hear -->
                              <div class="form-group">
                              <ng-form name="addresLine1Form">

                                <input type="text" class="form-control" name="addressline1"  placeholder="Address Line1*"data-ng-model="address.addressline1" required>
                                <span class="help-block form-error" ng-show="addresLine1Form.addressline1.$error.required  && contact_form_submited">Address line1 required.</span>
                             </ng-form>

                              </div>
                            
                            <div class="form-group">
                              <ng-form name="addresLine2Form">
                                <input type="text" class="form-control" name="addressline2" placeholder="Address Line2" data-ng-model="address.addressline2" required>
                                <span class="help-block form-error" ng-show="addresLine2Form.addressline2.$error.required  && contact_form_submited">Address line2 required.</span>
                              </ng-form>
                            </div>
                            <div class="form-group">
                               <div class="row">
                                 <div class="col-md-6">
                                    <ng-form name="addresCityForm">
                                      <input  type="text" class="form-control" name="city" placeholder="City*" data-ng-trim='false'data-ng-model="address.city" required>
                                      <span class="help-block form-error" ng-show="addresCityForm.city.$error.required  && contact_form_submited">City required.</span> 
                                    </ng-form>          
                                   
                                  </div>
                                  <div class="col-md-3">
                                      <ng-form name="addresStateForm">
                                        <input  type="text" class="form-control" name="state" placeholder="State*" data-ng-trim='false' data-ng-model="address.state" required>
                                        <span class="help-block form-error" ng-show="addresStateForm.state.$error.required  && contact_form_submited">State required.</span> 
                                      </ng-form>                 
                                  </div>
                                  <div class="col-md-3">
                                      <ng-form name="addresZipForm">
                                        <input  type="text" class="form-control" name="zip" ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/" placeholder="Zip*" data-ng-model="address.zip" required>
                                        <span class="help-block form-error" ng-show="addresZipForm.zip.$error.required  && contact_form_submited">Zip required.</span>
                                        <span class="help-block form-error" ng-show="addresZipForm.zip.$error.pattern && contact_form_submited">Invalid zip.</span>
                                      </ng-form>                      
                                  </div>
                                </div>
                              </div>
                            </div>
                          <!--Address close from hear -->

                            <div class="form-group">
                              <button type="button" ng-click="expandAddress()">+</button>
                            </div>

                              <!--Phone start from hear -->
                            <div ng-repeat= "phone in phones track by $index">
                            <div class="form-group">
                              <ng-form name="phoneCellPhoneForm">
                                <label for="exampleInputEmail1">Cell Phone <i ng-if="$index>0" class="fa  fa-close" ng-click="removePhones($index)"></i></label>
                                <input type="text" class="form-control" name="cellphone" placeholder="Cell Phone*" data-ng-model="phone.cellphone" ng-pattern="/\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})/" required>
                                <span class="help-block form-error" ng-show="phoneCellPhoneForm.cellphone.$error.required  && contact_form_submited">Cell phone required.</span>
                                <span class="help-block form-error" ng-show="phoneCellPhoneForm.cellphone.$error.pattern && contact_form_submited">Invalid phone.</span>
                              </ng-form>
                            </div>
                            <div class="form-group">
                              <div class="name-block">
                              <label for="exampleInputEmail1">Home Phone</label>
                            </div>
                             <!-- Phone pop start fro hear -->
                            <div class="panel-body name-popup"> 
                              <script type="text/ng-template" id="myModalContent3.html">
                                <div class="modal-header">
                                  <h3>Phone</h3>
                                </div>
                                <div class="modal-body">
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Type</label>
                                    <select class="form-control" data-ng-model="phonepop.phonetype">
                                      <option value="Cell">Cell</option>
                                      <option value="business">Business</option>
                                      <option value="home">Home</option>
                                      <option value="fax">Fax</option>
                                    </select>
                                    <span></span>
                                  </div>
                                  <div class="form-group">
                                    <dl class="dl-horizontal">
                                      <dd>
                                      <label class="ui-checkbox">
                                        <input name="checkbox1" type="checkbox" data-ng-model="phonepop.sms" value="sms"><span>SMS</span>
                                      </label>
                                      <label class="ui-checkbox">
                                        <input name="checkbox1" type="checkbox" data-ng-model="phonepop.mms" value="mms" checked><span>MMS</span>
                                      </label>
                                      <label class="ui-checkbox">
                                        <input name="checkbox1" type="checkbox" data-ng-model="phonepop.smartphone" value="smartphone"><span>Smart Phone</span>
                                      </label>
                                      </dd>
                                    </dl>
                                  </div>
                                  <div class="form-group">
                                    <label for="">Number</label>
                                    <div class="row">
                                      <div class="col-md-3">
                                        <select class="form-control selct-refer" data-ng-model="phonepop.country">
                                          <option>State</option>
                                          <option value="India">India</option>
                                          <option value="Us">Us</option>
                                          <option value = "Nw">Nw</option>
                                        </select>
                                        <span></span>
                                      </div>
                                      <div class="col-md-3">
                                        <select class="form-control selct-refer" data-ng-model="phonepop.area">
                                          <option>Area</option>
                                          <option value="+91">+91</option>
                                          <option value="+70">+70</option>
                                          <option value = "+17">17</option>
                                        </select>
                                        <span></span>
                                      </div>
                                      <div class="col-md-3">
                                        <input type="text" class="form-control" data-ng-model="phonepop.Number"  placeholder="Number">
                                        <span></span>
                                      </div>
                                      <div class="col-md-3">
                                        <input type="text" class="form-control" data-ng-model="phonepop.ext"  placeholder="Ext">
                                        <span></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="btn btn-primary"  ng-click="ok()">Save</button>
                                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                                </div>
                              </script>
                            <p class="hash" ng-click="open('myModalContent3.html',$index,'phonetype')" style="cursor:pointer">
                            </div> 

                              <ng-form name="phoneHomePhoneForm">
                                <input type="text" class="form-control" name="homephone" placeholder="Home Phone*" data-ng-model="phone.homephone" ng-pattern="/\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})/" required>
                                <span class="help-block form-error" ng-show="phoneHomePhoneForm.homephone.$error.required  && contact_form_submited">Home phone required.</span>
                                <span class="help-block form-error" ng-show="phoneHomePhoneForm.homephone.$error.pattern && contact_form_submited">Invalid phone.</span>
                              </ng-form>
                            </div>
                          </div>
                          <div class="form-group">
                            <button type="button" ng-click="expandPhone();">+</button>
                          </div>
                        
                          <!-- phone close from hear -->
                                  
                        <!--email start from hear -->
                        <div ng-repeat = "email in emails track by $index">
                          <div class="form-group">
                            <ng-form name="emailForm">
                              <label for="exampleInputEmail1">Email <i ng-if="$index>0" class="fa  fa-close" ng-click="removeEmails($index)"></i></label>
                              <input type="email" class="form-control" name="email"  placeholder="Email*" data-ng-model="emails[$index]" required>
                              <span class="help-block form-error" ng-show="emailForm.email.$error.required  && contact_form_submited">Email is required</span>
                              <span class="help-block form-error" ng-show="emailForm.$error.email && contact_form_submited">inavlid email.</span>
                            </ng-form>
                          </div>
                        </div>
                        <div class="form-group">
                          <button type="button" ng-click="expandEmail()">+</button>
                        </div>
                        <!--email close from hear -->

                            
                          <!-- hidden field start from hear -->
                          <!-- hidden field close from hear -->
                        </div><!--colm left-->
                        <div class="col-md-5 right-sectn">
                             <div ng-repeat="(i,refer) in refferedbys track by $index">
                                <div class="form-group">
                                  <ng-form name="referedByForm">
                                    <label for="exampleInputEmail1">Reffered By<i ng-if="$index>0" class="fa  fa-close" ng-click="removeRefferedbys($index)"></i></label>
                                     <select class="form-control selct-refer" name="refferedby" data-ng-model="refferedbys[$index]" required>
                                        <option value="">--Select--</option>
                                        <option ng-repeat="client in allContactes" ng-selected="refferedbys[i] == client._id" value="{{client._id}}" ng-if="client.category_id.categorie=='Clients'">{{client.name.firstname + " " + client.name.lastname}}</option>
                                     </select>
                                     <span class="help-block form-error" ng-show="referedByForm.refferedby.$error.required  && contact_form_submited">Please select.</span>
                                  </ng-form>
                                </div>
                              </div>
                            <div class="form-group">
                              <button type="button" ng-click="expandrefferedby()">+</button>
                            </div>
                            <div ng-repeat="note in notes track by $index">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Note</label>
                               <textarea class="form-control"
                                data-ng-model="notes[$index]" placeholder="Note" rows="5">
                             </textarea>
                            </div>
                          </div>

                          <div ng-repeat="additionalfield in additionalfields track by $index" class="form-group">
                            <ng-form name="additionalForm">
                              <label>{{additionalfield.key}} <i class="fa fa-close" ng-click="removeAdditionalField($index)"></i></label>
                              <input type="text" class="form-control" placeholder="{{additionalfield.key}}*" name="aditional_value" data-ng-model="additionalfield.value" required />
                              <span class="help-block form-error" ng-show="additionalForm.aditional_value.$error.required  && contact_form_submited">Please enter {{additionalfield.key}}.</span>
                            </ng-form>
                          </div>

                         <div class="form-group">
                          <button type="button" ng-click="isAdditionalFields=true">+</button>
                          <div ng-show="isAdditionalFields">
                            <ul>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Keywords/Tags');">Keywords/Tags</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('FedEx Account Number');">FedEx Account Number</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Assistant Name');">Assistant Name</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Assistant Phone');">Assistant's Phone</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Assistant Email');">Assistant s Email</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Tax ID');">Tax ID</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Web Login Enabled');">Web Login Enabled</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Manager Name');">Manager Name</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Manager Phone');">Manager Phone</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Manager Email');">Manager Email</label></li>
                              <li><label ng-click="isAdditionalFields=false;addAitionalFiel('Website');">Website</label></li>
                            </ul>
                          </div>
                        </div>
                      </div><!--colm right-->
                     </div> <!-- big row-->
                  </div>
               </div>
             </div>
           </section> 
          </div>




    </div>



  </div>

<script type="text/javascript">
  $('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
        <footer class="table-footer">
            
            </div>
        </footer>
    </section>

</div>



