        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a>
        </li>
        <li>
            <a href="#/create/matter"><i class="fa fa-magic"></i><span data-i18n="Matters">
              <ul>
                <li>
                    <a href="#/matter/list" data-ng-click="setMatterType('Open');getMatters();">
                        Open
                    </a>
               </li>
               <li>
                    <a href="#/matter/list" data-ng-click="setMatterType('Closed'); getMatters();">
                        Closed
                    </a>
               </li>
               <li>
                    <a href="#/matter/list" data-ng-click="setMatterType('All'); getMatters();">
                        All
                    </a>
               </li>
               <li>
                    <a href="#/create/matter">
                        Add New
                    </a>
               </li>
            </ul>
            </span></a>
        </li>
        <li>
            <a href="#/schedule/list"><i class="fa fa-file-text-o"></i><span data-i18n="Schedule"></span></a>
        </li>
        <li>
            <a href="#/tables/static"><i class="fa fa-table"></i><span data-i18n="Tasks"></span></a>
        </li>
        <li>
            <a href="#/forms/validation"><i class="fa fa-pencil"></i><span data-i18n="Communication"></span></a>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Contacts"></span></a>
            <ul>
                <li ng-repeat="categorie in data.categorie">
                  <p class="para1">
              <a href="#/contacts/contactlist" data-ng-click="setContactCategory(categorie.categorie,categorie._id)">
                        <i class="fa fa-caret-right"></i>
                         {{categorie.categorie}}
                    </a>
                  </p>
                  <p>
                    <a href="#/create/contact" data-ng-click="setContactCategory(categorie.categorie,categorie._id)">  <button class="icn">+</button>
                    </a>
                 </p>
               </li>
                
                <li>
                  <p class="para1">
                    <a href="#/tables/dynamic">
                        <i class="fa fa-caret-right"></i>
                         more..
                    </a>
                  </p>
                  <p>
                    <a href="#/create/contact"><button class="icn">+</button>
                    </a>
                 </p>
               </li>
            </ul>
        </li>
       <!--  <li>
            <a href="#/maps"><i class="fa fa-map-marker"></i><span data-i18n="Maps"></span></a>
            <ul>
                <li><a href="#/maps/gmap"><i class="fa fa-caret-right"></i><span data-i18n="Google Map"></span></a></li>
                <li><a href="#/maps/jqvmap"><i class="fa fa-caret-right"></i><span data-i18n="Vector Map"></span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks">
                <i class="fa fa-tasks"></i><span data-i18n="Tasks"></span>
                <span class="badge badge-info main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"></i><span data-i18n="Mail"></span></a>
            <ul>
                <li><a href="#/mail/inbox"><i class="fa fa-caret-right"></i><span data-i18n="Inbox"></span></a></li>
                <li><a href="#/mail/compose"><i class="fa fa-caret-right"></i><span data-i18n="Compose"></span></a></li>
                <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-i18n="Single Mail"></span></a></li>
            </ul>
        </li> -->
    </ul>
</div>