<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Web Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/bower_components/weather-icons/css/weather-icons.min.css">
        <link rel="stylesheet" href="/stylesheets/styles/main.css">
        


    </head>
    <body data-ng-app="app" id="app" data-custom-background data-off-canvas-nav>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div data-ng-controller="AppCtrl">
            <div data-ng-hide="isSpecificPage()" data-ng-cloak class="no-print">
                <section data-ng-include=" '/views/header.html' " id="header" class="top-header"></section>

                <aside data-ng-include=" '/views/nav.html' " id="nav-container"></aside>
            </div>

            <div class="view-container">
                <section data-ng-view id="content" class="animate-fade-up"></section>
            </div>
        </div>

        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="js/scripts/vendor.js"></script>

        <script src="js/scripts/ui.js"></script>

        <script src="js/scripts/app.js"></script>
        <script src="js/angular/filereader.js"></script>

        <link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
        <link href='/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
        <script src='/fullcalendar/lib/moment.min.js'></script>
        <script src='/fullcalendar/lib/jquery.min.js'></script>
        <script src='/fullcalendar/fullcalendar.js'></script>

        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    </body>
</html>