<div class="page" ng-controller="ScheduleController" data-ng-init="initCalendar()">
  <section class="panel panel-default">
    <div class="panel-heading"><p>Home > Schedule</p></div>
      <div class="panel-body"> <!-- white color body start from hear -->
        <div class="block-1" data-ng-controller="ModalDemoCtrl"> <!--grey body start from hear -->

        	<div id='calendar'></div>
        	<span ng-click="setSchedule('fsdfs')">gsdgsdfgs</span>
        	<script type="text/ng-template" id="shedule_popup.html">
			    <form name="schedule_form" novalidate ng-submit="saveSchedule(schedule_form)">
			      <div class="modal-header">
			        <h3>Create Schedule</h3>
			      </div>  
			        <div class="modal-body">
			        	<div class="row">
			        		<div class="col-sm-1"></div>
			        		<div class="col-sm-10">
			        			<a href="javascript:;"><span ng-click="isTask=false;schedule.remark=''">Event</span></a>
			        			<a href="javascript:;"><span ng-click="isTask=true">Task</span></a>
			        		</div>
		        			<div class="col-sm-1"></div>
			        	</div>
			          <div class="row">
			          	<div class="col-sm-1"></div>
			            <div class="col-sm-4">
			              {{getFormatedDate(schedule.start)}}
			            </div>
			            <div class="col-sm-4">
			              {{getTimeFromDate(schedule.start)}}
			            </div>
			            <div class="col-sm-3"></div>
			          </div>
			          <br><br>
			          <div class="row">
			            <div class="col-sm-1"></div>
			            <div class="col-sm-10">
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Title" name="title" ng-model="schedule.title" required>
			                <span class="help-block form-error" ng-show="schedule_form.title.$error.required && schedule_form_submited">Required*.</span>
			              </div>
			              <div class="form-group" ng-if="isTask">
			                <input type="text" class="form-control" placeholder="Remark" name="remark" ng-model="schedule.remark">
			              </div>
			            </div>
			            <div class="col-sm-1"></div>
			          </div>
			        </div>
			        <div class="modal-footer">
			          <button type="submit" class="btn btn-primary">Save</button>
			          <button class="btn btn-warning" type="button" ng-click="cancleSchedule()">Cancel</button>
			        </div>
			    </form>
			  </script>
         <i style="display:none" ng-click="open('shedule_popup.html')" id="open-popup" class="fa fa-2x fa-plus-square" style="cursor:pointer"></i>
        </div>
      </div>
    </div>
  </section> 
</div>

<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>