<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <script src ="lib/angular.js"></script>
   <script src="lib/angular-route.js"></script>
   <script src="js/angular/app.js"></script>
   <script src="js/angular/mainController.js"></script>
   <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/stylesheets/bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/bower_components/weather-icons/css/weather-icons.min.css">
	<link rel="stylesheet" href="/stylesheets/styles/main.css">
  </head>
  <body ng-app="management_system">
    <div ng-view></div>
  </body>
</html>