<div class="page-forgot">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{title}}</a>
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            
            <div class="info text-center">
                <h2>Password Reset</h2>
                <p class="text-small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
            </div>

            <div class="form-container">

                <form class="form-horizontal" name="forgotPasswordForm">
                    <div class="form-group">
                        <input type="email"
                               class="form-control input-lg"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <a href="#/" class="btn btn-lg btn-block btn-primary" >Send</a>
                    </div>
                </form>
                
            </div>

        </div>
    </div>

</div>